---
title: "Erroneous models in neural networks and their threats for formal verification."
collection: publications
category: conferences
permalink: /publication/2020-11-10-Conference-Lambda-Mu-22-Erroneous-models-in-neural-networks-and-their-threats-for-formal-verification
excerpt: 'This article details a new threat on formal verification for neural networks: the erroneous model'
date: 2020-11-10
venue: 'Lambda Mu 22 - Congrès de maîtrise des risques et de sûreté de fonctionnement, Oct 2020, Le Havre, France.'
paperurl: 'https://hal.science/hal-03144913/'
citation: 'Augustin Viot, Benjamin Lussier, Walter Schön, Stéphane Geronimi, Armando Tacchella. Erroneous models in neural networks and their threats for formal verification. Lambda Mu 22 - Congrès de maîtrise des risques et de sûreté de fonctionnement, Oct 2020, Le Havre, France. pp.596. ⟨hal-03144913⟩'
---

This article explains why current dependability techniques are not suitable for neural networks (NN). It also shows with an experiment that we need to justifiably trust neural networks modeling before formal verification can be used for critical applications.
